$color-primary-dark: #8EC0E4;
$color-primary-light: #6AAFE6;
$Distance: 1000px;
$color-primary: #30A9DE;

main {
  position: relative;
  min-height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #274c5e;
}

.Container {
  text-align: center;
  position: relative;
  background: #D4DFE6;
  padding-bottom: 20px
}

.MainTitle {
  display: block;
  font-size: 2rem;
  font-weight: lighter;
  text-align: center;
}

.MainDescription {
  max-width: 50%;
  font-size: 1.2rem;
  font-weight: lighter;
}

.MainGraphic {
  padding: 40px;
  position: relative;
}

.Cog {
  width: 7rem;
  height: 7rem;
  fill: $color-primary-light;
  transition: easeInOutQuint();
  animation: CogAnimation 5s infinite;
}


@keyframes CogAnimation {
    0%   {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}