<div class="header">
  <img *ngIf="logoToShow" class="logo" src="../assets/innowaveLogo.png" alt="Logo">
  <img *ngIf="!logoToShow" class="logo" src="../assets/logoToLife@3x.png" alt="Logo">
</div>


<div *ngIf="dataToShow$" class="main">
  <div class="text-center">
    <div class="image1">
      <img class="img-fluid" alt="Image1" src="{{ dataToShow$.ImageUrl }}" style="max-height: 300px">
    </div>
    <p>
      VoucherLottery
    </p>
    <p class="text-lg"> Description: {{dataToShow$.Description }}</p>
    <!-- <p>description: {{ ( dataToShow$ | async ).VoucherDetail.Description }}</p>
      <p>image: {{ ( dataToShow$ | async ).VoucherDetail.ImageUrl }}</p>
      <p>qrCode: {{ ( dataToShow$ | async ).VoucherDetail.QRCodeImageUrl }}</p> -->
      
    <!--<img class="bottomLeft" alt="Image" src="../assets/bottomLeft.png">
    <img class="bottomRight" alt="Image" src="../assets/bottomRight.png">-->

    <div class="qrCode">
      <img class="img-fluid" alt="QR Code" src="{{dataToShow$.QRCodeImageUrl}}" style="max-height: 200px">
    </div>

  </div>
</div>

<div class="footer">
  <p>&nbsp;</p>
</div>