<div class="header">
  <img *ngIf="logoToShow" class="logo" src="../assets/innowaveLogo.png" alt="Logo">
  <img *ngIf="!logoToShow" class="logo" src="../assets/logoToLife@3x.png" alt="Logo">
</div>


<div *ngIf="dataToShow$" class="main">
  <div class="text-center">
    <div class="image1">
      <img class="img-fluid" alt="Image1" src="{{ dataToShow$.ImageUrl }}" style="max-height: 300px">
    </div>
      <div class="description">
        <p> Voucher Lottery </p>
        <p> Description: {{dataToShow$.Description }}</p>
      </div>

    <div class="qrCode">
      <div class="img-fluid" style="position: relative; max-width: 250px; justify-content: center; margin-left: auto; margin-right: auto">
        <div class="corner_bottomright"></div>
        <div class="corner_topright"></div>
        <div class="corner_bottomleft"></div>
        <div class="corner_topleft"></div>
        <img class="img-fluid" alt="QR Code" src="{{dataToShow$.QRCodeImageUrl}}" style="max-height: 220px; padding: 4% ">
      </div>
    </div>
  </div>
</div>

<div class="footer">
  <a>&nbsp;</a>
</div>